<div class="slider" id="slider1">
    <!-- Slides -->
    <div *ngFor="let content of contents" [style.background-image]="'url(' + content.url + ')'">
        <span>
            <h2>{{content.title}}</h2>
        </span>
    </div>
    <!-- The Arrows -->
    <i class="left" style="z-index:2; position:absolute;">
        <svg viewBox="0 0 100 100">
            <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"></path>
        </svg>
    </i>
    <i class="right" style="z-index:2; position:absolute;">
        <svg viewBox="0 0 100 100">
            <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" transform="translate(100, 100) rotate(180) "></path>
        </svg>
    </i>
</div>