<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">{{title}}</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a *ngFor="let item of menuItems" class="mdl-navigation__link" href="">
              {{item.title}}
            </a>
          </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{title}}</span>
        <nav class="mdl-navigation">
          <a *ngFor="let item of menuItems" class="mdl-navigation__link" href="">{{item.title}}</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
          <image-slider [contents]="getImgSliderContent()"></image-slider>
          <presentation></presentation>
          <footer></footer>
      </div>
    </main>
  </div>