<div class="wrapper">
    <h1>The solution you need to reach new levels.</h1>
    <!-- Life -->
    <h3 class="life-label">In your life</h3>
    <div class="life-block">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Reliable</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Take control of your home. Protect those you love.
            </div>
        </div>
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Personal</h2>
            </div>
            <div class="mdl-card__supporting-text">
                It's your smart house - your smart rules.
            </div>
        </div>
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Community</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Share and discuss your use of BitLvL app and gadgets.
            </div>
        </div>
    </div>
    <!-- Business -->
    <h3 class="enterprise-label">In your business</h3>
    <div class="enterprise-block">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Control</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Every detail of your business in your fingertips.
            </div>
        </div>
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Shape</h2>
            </div>
            <div class="mdl-card__supporting-text">
                With BitLvL in your processes, you will be able to focus on what matters.
            </div>
        </div>
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Decide</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Use the BitLvL ecosystem to choose the path you need. Be the next big thing.
            </div>
        </div>
    </div>

</div>